    <ul id="gn-menu" class="gn-menu-main">
      <li class="gn-trigger">
        <a id="menu-toggle" class="menu-toggle gn-icon gn-icon-menu">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="cross">
            <span></span>
            <span></span>
          </div>
        </a>
        <nav class="gn-menu-wrapper">
          <div class="gn-scroller">
            <ul class="gn-menu metismenu">
              <li  class="gn-search-item">
                <select id="select-beast-head" placeholder="Search" class="gn-search" style="opacity: 1; position: absolute; left: 0px; width: 100%; padding-top:10px;"></select>
              </li>
               <li>
                <span class="label label-danger pull-right">16</span>
                <a href="/clients" aria-expanded="false"><i class="fa fa-user"></i>Clients<span class="fa arrow"></span></a>
              </li>
              <li data-toggle="modal" data-target="#myModal">
                <a id="wthistorya" aria-expanded="false"><i class="fa fa-briefcase"></i>History<span class="fa arrow"></span></a>
                <ul class="gn-submenu collapse" aria-expanded="false">
                  <li><a href="colors.html">Assessment</a></li>
                  <li ><a>Weight</a>
              <i class="fa fa-search"></i>
            </a></li>
                  <li><a href="icons.html">Intake</a></li>
                  <li><a href="form-elements.html">Diets</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /gn-scroller -->
          <div id='assessment'class="bottom-bnts">
            <a class="profile" href="#"><i class="mdi mdi-account"></i></a>
            <a class="fix-nav" href="#"><i class="mdi mdi-pin"></i></a>
            <a class="logout" href="#"><i class="mdi mdi-power"></i></a>
          </div>
        </nav>
      </li>
      <li class="pull-left">
        <a href="" class="logo">DIETITIAN.HELP<i class="fa fa-heartbeat"></i></a>
      </li>
      <span id="bmispanhead" class="w-amount">39.2</span>
      <li class="top-clock">
        <span class="current-time"></span>
      </li>
      <li class="dropdown notifications">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i type="button" onclick="setTimeout(rchart0, 500)", class="fa fa-edit fa-2x" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></i> <span class="label label-warning"></span>
            </a>
          </li>
      <li class="dropdown notifications">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-area-chart fa-2x"></i> <span class="label label-warning"></span>
            </a>
          </li>
      <li class="pull-right">
        <ul class="nav navbar-right right-menu">
              <div class="empty"></div>
          <li class="">
            <a data-toggle="modal" data-target="#myModal">
              <i class="fa fa-search"></i>
            </a>
          </li>
          <li class="">
            <a href='users/sign_out' class='logo' rel="nofollow" data-method="delete" data-confirm="Are you sure?">
              <i class="fa fa-toggle-on"></i>
            </a>
          </li>
          <li class="dropdown notifications">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-edit"></i> <span class="label label-warning"></span>
            </a>
          </li>
          <li class="dropdown some-btn">
            <a class="fullscreen">
              <i class="mdi mdi-fullscreen"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
          <div  class="gn-search-item">
                <select id="select-beast-modal" placeholder="Search" class="gn-search" style="opacity: 1; position: absolute; left: 0px; width: 100%; padding-top:10px;"></select>
              </div>

  </div>
</div>

    <!-- Modal -->
<div id="wthistorymodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
          <div class="big-box">
        <div class="table-responsive">
          <table class="display">
            <thead>
              <tr>
                <th>Date</th>
                <th>Weight</th>
                <th>Height</th>
                <th>BMI</th>
                <th>%IBW</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Gecko</td>
                <td>Firefox 1.0</td>
                <td>Win 98+/OSX.2+</td>
                <td>1.7</td>
                <td>A</td>
                <td>omg this web application will be such a beast but I need to make sure I don't include unecessary stuff. How would this paragraph wrap if I go beyond two lines of sentences.</td>
              </tr>
              <tr>
                <td>Gecko</td>
                <td>Firefox 1.5</td>
                <td>Win 98+/OSX.2+</td>
                <td>1.6</td>
                <td>B</td>
                <td>B</td>
              </tr>
              <tr>
                <td>Gecko</td>
                <td>Firefox 1.8</td>
                <td>Win 7+</td>
                <td>2.2</td>
                <td>A</td>
                <td>A</td>
              </tr>
              


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- JAVASCRIPT BEGINS -->
<script>


</script>
    <!-- JAVASCRIPT ENDS-->