<ul id="gn-menu" class="gn-menu-main">
  <li class="gn-trigger">
    <a id="menu-toggle" class="menu-toggle gn-icon gn-icon-menu">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="cross">
        <span></span>
        <span></span>
      </div>
    </a>
    <nav class="gn-menu-wrapper">
      <div class="gn-scroller">
        <ul class="gn-menu metismenu">
          <li  class="gn-search-item">
          <select id="select-beast-head" placeholder="Search" class="gn-search" style="opacity: 1; position: absolute; left: 0px; width: 100%; padding-top:10px;"></select>
        </li>
        <li>
          <a id="assessmenttool" aria-expanded="false"><i class="fa fa-language"></i>Assess<span class="fa arrow"></span></a>
        </li>
        <li>
          <a id="clientsfrommenu" aria-expanded="false"><i class="fa fa-user"></i>Clients<span class="fa arrow"></span></a>
        </li>
        <li>
          <a type="button"id="historyfrommenu" aria-expanded="false"><i class="fa fa-history"></i>History<span class="fa arrow"></span></a>
        </div>

        <!-- /gn-scroller -->
      </nav>
    </li>
    <li class="pull-left">
      <a href="" class="logo">DIETITIAN.HELP<i class="fa fa-heartbeat"></i></a>
    </li>
    <li class="top-clock">
      <span class="current-time"></span>
    </li>
        </li>
        <li class="pull-right">
      <ul class="nav navbar-right right-menu">
        <div class="empty"></div>
        <li class="form-inline">
          
        </li>
        <li class="">
          <a id="searchHeaderIcon">
            <i class="fa fa-search"></i>
          </a>
        </li>
        <li class="">
          <a href='users/sign_out' class='logo' rel="nofollow" data-method="delete" data-confirm="Are you sure?">
            <i class="fa fa-toggle-on"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Modal Search -->
  <!-- Modal Wt History-->
  <!-- JAVASCRIPT BEGINS -->
  <script>
  var hist =
  $('#assessmenttool').click(function(){
  $.ajax({
  url: "clients/" + selectedClient + "/nutritionaldata",
  type: 'GET',
  success: function(data){ $(document)[0].getElementById('clientload').contentDocument.getElementById('clientloadright').innerHTML = data;
  window.removee();
  $(document.querySelectorAll('iframe')[0].contentWindow.document.getElementById('updatebut')).click(function(){
  window.ajaxSubmit()
  });
  }
  });
  })
  $('#historyfrommenu').click(function(){
  $.ajax({
  url: "client_info/" + selectedClient,
  type: 'GET',
  success: function(data){ $(document)[0].getElementById('clientload').contentDocument.getElementById('clientloadright').innerHTML = data;
  window.removee();}
  });
  })
  $('#clientsfrommenu').click(function(){
  $.ajax({
  url: "clients",
  type: 'GET',
  success: function(data){ $(document)[0].getElementById('clientload').contentDocument.getElementById('clientloadright').innerHTML = data;
  window.removee();}
  });
  })
  $('#searchHeaderIcon').click(function() {
  top.$('#landing').toggle('fast');
  });
$('#registerBtn').click(function(e){
  e.preventDefault();
  $('#new_user').hide('fast');
  $('#sign_up_user').show('fast');
})
  </script>
  <!-- JAVASCRIPT ENDS-->